

/*----------------------------------------*/
/* BerlingskeSerifTx */
@font-face {
	font-family: 'Berlingske';
	src: url('../fonts/BerlingskeSerifTx/BerlingskeSerifTx-XBd/BerlingskeSerifTx-XBd.eot');
	src: local('☺'), url('../fonts/BerlingskeSerifTx/BerlingskeSerifTx-XBd/BerlingskeSerifTx-XBd.woff') format('woff'), url('../fonts/BerlingskeSerifTx/BerlingskeSerifTx-XBd/BerlingskeSerifTx-XBd.ttf') format('truetype'), url('../fonts/BerlingskeSerifTx/BerlingskeSerifTx-XBd/BerlingskeSerifTx-XBd.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Berlingske';
	src: url('../fonts/BerlingskeSerifTx/BerlingskeSerifTx-Rg/BerlingskeSerifTx-Rg.eot');
	src: local('☺'), url('../fonts/BerlingskeSerifTx/BerlingskeSerifTx-Rg/BerlingskeSerifTx-Rg.woff') format('woff'), url('../fonts/BerlingskeSerifTx/BerlingskeSerifTx-Rg/BerlingskeSerifTx-Rg.ttf') format('truetype'), url('../fonts/BerlingskeSerifTx/BerlingskeSerifTx-Rg/BerlingskeSerifTx-Rg.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}


/* OpenSans */
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-ExtraBold/OpenSans-ExtraBold.eot');
	src: local('☺'), url('../fonts/OpenSans/OpenSans-ExtraBold/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-ExtraBold/OpenSans-ExtraBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.eot');
	src: local('☺'), url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Light/OpenSans-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

/*----------------------------------------*/
/* CSS Document */

/* -----------------------------------------------
:: Reset
-------------------------------------------------- */
meta.foundation-data-attribute-namespace {
	font-family: false; /* Initialise Foundation 5.5.1 JS for modals, column equalizer, #mobile-main-menu .top-bar (used as the mobile menu between 320px-768px), #primary .f-dropdown (used beyond 768px) */
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100% !important;
	overflow-x: hidden; /* Prevent horizontal scroll on devices */
}

html {
	height: 100% !important;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

html, body, div, span, object, iframe,
p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

img, object, embed {
	max-width: 100%;
}

object, embed {
	height: 100%;
}

img {
	display:inline-block;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

button, .button {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
    line-height: 1;
	text-align: inherit;
	text-decoration: none;
	background: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: none;
	cursor: pointer;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button:hover, button:focus {
/*  color: transparent; 
*/	background-color: transparent;
	outline: none;
}


/* -----------------------------------------------
:: Float clearing
-------------------------------------------------- */
.cf:after,
.row:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}


/* -----------------------------------------------
:: Structure
-------------------------------------------------- */
body {
	position: relative;
	height: auto;
	font-family: 'OpenSans', Tahoma, sans-serif;
	font-weight: 400;
	font-style: normal;
/*	color: #474c55;
*/	color: #000;	
	line-height: 1.625;
    background: #316bfa;
    border: 1em solid #316bfa;
	cursor: auto;
}

h1, h2, h3, h4, h5 {
	text-rendering: optimizeLegibility;
}

h1 { 
	margin-bottom: 0;
	font-family: 'Berlingske', Tahoma, sans-serif;
	font-weight: 400;
	font-size: 28px;
	font-size: 1.75rem;
	color: #000;
	line-height: 1.4;
	text-align: center;
	letter-spacing: -1px;
}

h2, h3, h4 {
	color: #3042fa;
	margin: 0 0 0.5rem 0; 
}

h2 {
	font-family: 'Berlingske', Tahoma, sans-serif;
	font-weight: 700;
	font-size: 22px;
	font-size: 1.375rem;
	line-height: 1.5;
}

h3, label {
	font-family: 'Berlingske', Tahoma, sans-serif;
	/*font-family: 'OpenSans', Tahoma, sans-serif;*/
	font-weight: 700; 
	font-size: 17px;
	font-size: 1.0625rem;
	line-height: 1.625;
}

h4 { 
	font-family: 'OpenSans', Tahoma, sans-serif;
	font-weight: 400;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.625;
}

p, ul, ol {
	margin-bottom:1.25rem;
	font-size: 1rem;
  	font-size: 16px;
}

p {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}

ul.no-disc {
	margin-left: 0;
	margin-bottom:0;
	list-style-type: none;
}

ul, ol {
	margin-left: 1.375em;
	list-style-type: disc;
	list-style-position: outside;
}

ol {
	list-style-type: decimal;
}

em, i {
	font-style: italic;
	font-family: 'OpenSans', Tahoma, sans-serif;
	font-weight: 300;
	line-height: inherit;
}

strong, b {
	font-family: 'OpenSans', Tahoma, sans-serif;
	font-weight: 700;
	line-height: inherit;
}
 
a {
	font-weight: 700;
	color: #eaa806;
	line-height: inherit;
	text-decoration: none;
	outline: none;	
}

a:hover, a:focus {
	color: #fa316b;
}

a:hover {
  cursor: pointer;
}


/* -----------------------------------------------
:: Element control - general
-------------------------------------------------- */
.center {
	margin: 0 auto 0 auto;
	text-align: center;
}

.spacer {
	padding-bottom: 1em;
}

.large-spacer {
	padding-bottom: 2em;
}

.xlarge-spacer {
	padding-bottom: 3em;
}

.overflow {
	overflow: hidden;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.hide {
	display: none;
}

.full-width-background {
    margin: 0 -100%;
    padding: 1em 100%;
    background: #f7f5f2;	
}


/* -----------------------------------------------
:: Element control - inline-list
-------------------------------------------------- */
.inline-list {
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
}

.inline-list > li {
	float: left;
}

.inline-list > li > * {
	display: block;
}


/* -----------------------------------------------
:: Element control - animation
-------------------------------------------------- */
/* hue-wipe */
@-webkit-keyframes hue-wipe {
    0% { opacity: 0.5; }
  100% { opacity: 1; }
}
@-moz-keyframes hue-wipe {
    0% { opacity: 0.5; }
  100% { opacity: 1; }
}	
@-o-keyframes hue-wipe {
    0% { opacity: 0.5; }
  100% { opacity: 1; }
}
@keyframes hue-wipe {
    0% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* floating */
@-webkit-keyframes floating {
    from { -webkit-transform:translate(0, 0px); }
    65% { -webkit-transform:translate(0, 15px); }
    to { -webkit-transform: translate(0, -0px); }    
}    
@-moz-keyframes floating {
    from { -moz-transform:translate(0, 0px); }
    65% { -moz-transform:translate(0, 15px); }
    to { -moz-transform: translate(0, -0px); }    
}
@-o-keyframes floating {
    from { -o-transform:translate(0, 0px); }
    65% { -o-transform:translate(0, 15px); }
    to { -o-transform: translate(0, -0px); }    
}
@keyframes floating {
    from { transform:translate(0, 0px); }
    65% { transform:translate(0, 15px); }
    to { transform: translate(0, -0px); }    
}


/* -----------------------------------------------
:: SVG styles
-------------------------------------------------- */
svg, .svg { width: inherit; height: inherit; }
.svg-hover * { -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }

.hexagon { width: 150px; height: 150px; }
.hexagon polygon { stroke: #d99c05; fill: #eaa806; } /* fill colour added for cross-broswer compatibility - running an opacity animation over an SVG gradient image doesn't look great in IE and Firefox */
.hexagon.hue-wipe polygon { stroke: #fff; fill: none; }
.hexagon.hue-wipe svg > polygon:nth-of-type(3) { -webkit-animation: hue-wipe 0.9s linear 0s infinite alternate; -moz-animation: hue-wipe 0.9s linear 0s infinite alternate; -o-animation: hue-wipe 0.9s linear 0s infinite alternate; animation: hue-wipe 0.9s linear 0s infinite alternate; }
.hexagon.hue-wipe svg > polygon:nth-of-type(2) { -webkit-animation: hue-wipe 0.9s linear 0.3s infinite alternate; -moz-animation: hue-wipe 0.9s linear 0.3s infinite alternate; -o-animation: hue-wipe 0.9s linear 0.3s infinite alternate; animation: hue-wipe 0.9s linear 0.3s infinite alternate; }
.hexagon.hue-wipe svg > polygon:nth-of-type(1) { -webkit-animation: hue-wipe 0.9s linear 0.6s infinite alternate; -moz-animation: hue-wipe 0.9s linear 0.6s infinite alternate; -o-animation: hue-wipe 0.9s linear 0.6s infinite alternate; animation: hue-wipe 0.9s linear 0.6s infinite alternate; }

.bee-character { width: 50px; height: 73px; }


/* -----------------------------------------------
:: General Buttons
-------------------------------------------------- */
button.rounded {
	padding: 0.5em 2em 0.5em 1em;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
	color: #737370;
	background-color: #e3e4e2;
    border: 1px solid #737370;
	-webkit-border-radius:50px;
	   -moz-border-radius:50px;
	    -ms-border-radius:50px;
	     -o-border-radius:50px;
	        border-radius:50px;
}

button.rounded:after {
    content: url('../images/icons/svg/right-thin-chevron.svg');
    position: absolute;
    right: 16px;
    width: 8px;
    height: 16px;
    line-height: 0;
}


/* -----------------------------------------------
:: Main
-------------------------------------------------- */
main {
    position: relative;
	display: block; /* IE hack */
}

main > * {
	max-width: 61em; /* 1024px-16px-32px border; */
	margin: 0 auto;
	background: #316bfa; /* For browsers that do not support gradients */
  	background: -webkit-radial-gradient(circle, #fff, #316bfa); /* Safari */
  	background: -o-radial-gradient(circle, #fff, #316bfa); /* Opera 11.6 to 12.0 */
  	background: -moz-radial-gradient(circle, #fff, #316bfa); /* Firefox 3.6 to 15 */
  	background: radial-gradient(circle, #fff, #316bfa); /* Standard syntax */
	border: 0.5em solid #fac031;
}

main > .row > .columns {
    padding-left: 0.5em;
    padding-right: 0.5em;
}


/* -----------------------------------------------
:: 	Grid
----------------------------------------------- */
.row:before,
.row .row:after {
	content: " ";
	display: table;
}

.row {
	width: 100%;
	min-width: 17em; /* 320px-16px-32px border; */
	max-width: 61em; /* 1024px-16px-32px border; */
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
}

.row .row {
    width: auto;
    min-width: 0;
    max-width: none;
	margin-left: -1em;
    margin-right: -1em;
}

.column,
.columns {
	position: relative;
	float: left;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

@media only screen {
	.small-1 { position: relative; width: 8.33333%; }
	.small-2 { position: relative; width: 16.66667%; }
	.small-3 { position: relative; width: 25%; }
	.small-4 { position: relative; width: 33.33333%; }
	.small-5 { position: relative; width: 41.66667%; }
	.small-6 { position: relative; width: 50%; }
	.small-7 { position: relative; width: 58.33333%; }
	.small-8 { position: relative; width: 66.66667%; }
	.small-9 { position: relative; width: 75%; }
	.small-10 { position: relative; width: 83.33333%; }
	.small-11 { position: relative; width: 91.66667%; }
	.small-12 { position: relative; width: 100%; }
}

/* Grid for screens that are at least 480px; */	
@media only screen and (min-width: 480px) {
	.medium-1 { width: 8.33333%; }
	.medium-2 { width: 16.66667%; }
	.medium-3 { width: 25%; }
	.medium-4 { width: 33.33333%; }
	.medium-5 { width: 41.66667%; }
	.medium-6 { width: 50%; }
	.medium-7 { width: 58.33333%; }
	.medium-8 { width: 66.66667%; }
	.medium-9 { width: 75%; }
	.medium-10 { width: 83.33333%; }
	.medium-11 { width: 91.66667%; }
	.medium-12 { width: 100%; }
}
	
/* Grid for screens that are at least 768px; */
@media only screen and (min-width: 768px) {
	.large-1 { width: 8.33333%; }
	.large-2 { width: 16.66667%; }
	.large-3 { width: 25%; }
	.large-4 { width: 33.33333%; }
	.large-5 { width: 41.66667%; }
	.large-6 { width: 50%; }
	.large-7 { width: 58.33333%; }
	.large-8 { width: 66.66667%; }
	.large-9 { width: 75%; }
	.large-10 { width: 83.33333%; }
	.large-11 { width: 91.66667%; }
	.large-12 { width: 100%; }
}

/* Grid for screens that are at least 1024px; */
@media only screen and (min-width: 1024px) {
	.xlarge-1 { width: 8.33333%; }
	.xlarge-2 { width: 16.66667%; }
	.xlarge-3 { width: 25%; }
	.xlarge-4 { width: 33.33333%; }
	.xlarge-5 { width: 41.66667%; }
	.xlarge-6 { width: 50%; }
	.xlarge-7 { width: 58.33333%; }
	.xlarge-8 { width: 66.66667%; }
	.xlarge-9 { width: 75%; }
	.xlarge-10 { width: 83.33333%; }
	.xlarge-11 { width: 91.66667%; }
	.xlarge-12 { width: 100%; }
}

[class*="column"]+[class*="column"]:last-child {
	float: left;
}


/* -----------------------------------------------
:: Media specific
-------------------------------------------------- */
@media only screen and (min-width:22.5em) {
	/*
	min-width:360px - Samsung Galaxy Nexus portrait - small-grid;
	*/
}

@media only screen and (min-width:23.4375em) {
	/*
	min-width:375px - iPhone6 portrait - small-grid;
	*/
}

@media only screen and (min-width:25.875em) {
	/*
	min-width:414px -  iPhone6 Plus portrait - small-grid;
	*/
}

@media only screen and (min-width:30em) {
	/*
	min-width:480px - iPhone landscape - medium-grid;
	*/	
}

@media only screen and (min-width: 48em) {
	/*
	min-width:768px - iPad portrait - large-grid;
	*/
	h1, h2, h3, h4, label { line-height: 1.4; }
	h1 { font-size: 30px; font-size: 1.875rem; letter-spacing: 0; }
	h2 { font-size: 24px; font-size: 1.5rem; }
	h3, label { font-size: 18px; font-size: 1.125rem; }
	h4 { font-size: 12px; font-size: 0.75rem; }
	main > .row > .columns { height: 100%; }
	main > * { min-height: 766px; }
/*	.row .row { margin-left: -0.25em; margin-right: -0.25em; }
	.column, .columns { padding-left: 0.25em; padding-right: 0.25em; }*/
	.large-6.columns:nth-of-type(odd) .panel { margin-right: 0; }
	.large-6.columns:nth-of-type(even) .panel { margin-left: 0; }
}

@media screen and (min-width:64em) {
	/*
	min-width:1024px - iPad landscape - xlarge-grid;
	*/
	main > * { min-height: 736px; }
}


/*----------------------------------------*/
.ui-datepicker {
  height: 343px;
  margin: 0 auto;
  border-radius: 0;
  padding: 0 0 1.5em;
  border: 0;
  box-shadow: 0px 5px 5px #aaa;
  width: 100%;
  max-width: 14.5em;
}

.ui-datepicker table {
  font-size: 13px;
}

.ui-datepicker th,
.ui-datepicker td {
  padding: 0;
  width: 10px;
}

.ui-datepicker th {
  text-transform: uppercase;
  color: #E3797D;
  font-size: .8em;
  padding-bottom: 1em;
}

.ui-datepicker .ui-datepicker-header {
  border: none;
  border-radius: 0;
  background: #31d0fa;
  color: #fff;
  margin-bottom: 2em;
}

.ui-datepicker .ui-datepicker-title {
  line-height: 1;
  padding: 1em 0;
  text-transform: uppercase;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 50%;
  margin-top: -16px;
  border: 0;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
  left: 10px;
}

.ui-datepicker .ui-datepicker-next {
  right: 10px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	width: 14px;
    height: 30px;
    margin-top: -15px;
	background-position: 0;
}

.ui-datepicker .ui-datepicker-prev span {
	background-image: url(../images/icons/left-arrow.png);
}

.ui-datepicker .ui-datepicker-next span {
	background-image: url(../images/icons/right-arrow.png);
}

.ui-datepicker .ui-state-default {
  border: none;
  background: transparent;
  padding: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.ui-datepicker td.ui-datepicker-current-day .ui-state-default,
.ui-datepicker .ui-state-hover {
  background: #31d0fa;
  color: #fff;
}

.ui-datepicker .ui-priority-secondary,
.ui-datepicker .ui-widget-content .ui-priority-secondary,
.ui-datepicker .ui-widget-header .ui-priority-secondary {
  opacity: .4;
  filter: Alpha(Opacity=40);
}


/*----------------------------------------*/
/* CSS Document */

/* -----------------------------------------------
:: #background
-------------------------------------------------- */
#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	z-index: 0;
	overflow: hidden;
}

.floating {
    position: relative;
    z-index: 2;
	-webkit-animation: floating 3s ease-in-out infinite;
	-moz-animation: floating 3s ease-in-out infinite;
	-o-animation: floating 3s ease-in-out infinite;
	animation: floating 3s ease-in-out infinite;
}

#background #grass {
    position: absolute;
    bottom: 0;
    width: 100%;	
    height: 50%;
    background: #8fcc8f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#476647, #8fcc8f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#476647, #8fcc8f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#476647, #8fcc8f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#476647, #8fcc8f); /* Standard syntax */
}

#background ul {
    position: absolute;
    transform: rotate(90deg);
    width: 100%;	
}

#background ul.left,
#background ul.right {
    position: absolute;
    z-index: 1;
}

#background ul.left {
    top: 25%;
    left: 0;
}

#background ul.right {
    top: 50%;
    right: 0;
}

#background ul.top {
    top: 0;
}

#background ul.bottom {
	top: 75%;
    transform: rotate(270deg);
}

#background li {
	position: relative;
}

#background .hexagon.hue-wipe {
	position: absolute;
    top: 0;
}


/* -----------------------------------------------
:: General
-------------------------------------------------- */
.highlight {
    color: #3042fa;
    font-weight: bold;
}


/* -----------------------------------------------
:: .panel
-------------------------------------------------- */
.panel {
    position: relative;
    margin: 1em 0;
	border: 0.5em solid #fac031;
}

.panel+.panel {
    margin-top: 2em;
}

.panel .content {
	position: relative;
	padding: 1em;
    z-index: 1;
}

.panel .content h1 span {
	display: block;
}

.panel .background {
	position: absolute;
    top: 0;
	left: 0;
    width: 100%;	
    height: 100%;
	background: #fff;
	opacity: 0.8;
}


/* -----------------------------------------------
:: .loading-overlay
-------------------------------------------------- */
#weekpicker,
#wikichart .song-row > td {
	position: relative;
}

#weekpicker {
	max-width: 14.5em;
	margin: 0 auto 1em;
}

.loading-overlay {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
    z-index: 1;
}

.loading-overlay > div {
	display: table;
	width: 100%;
	height: 100%;
}

.loading-overlay > div span {
	display: table-cell;
	vertical-align: middle;
}

.loading-overlay > div span .load-chart {
	color: #3042fa;
}

.loading-overlay > div span figure {
	margin: 0 auto;
}


/* -----------------------------------------------
:: Social buttons
-------------------------------------------------- */
#twitter-widget-0 {
    vertical-align: top;
}


/* -----------------------------------------------
:: #wikichart
-------------------------------------------------- */
/* #wikichart > *,
#wikichart h2 .editsection {
	display: none;
} */

#wikichart > table:first-of-type {
	display:  block;
	max-width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

#wikichart > table {
	min-height: 2604px;
	font-family: 'OpenSans', Tahoma, sans-serif;
	font-weight: 400; 
	font-size: 16px !important;
	font-size: 1rem !important;
	text-align: left;
    line-height: 1.25;
}

#wikichart tr.wrapper th {
	font-weight: 700;
}

#wikichart tr.wrapper td:nth-of-type(1) {
	width: 20%;
	padding-right: 1em;
    color: #3042fa;
	font-family: 'Berlingske', Tahoma, sans-serif;
    font-weight: 700;	
	text-align: center;
}

#wikichart tr.wrapper td:nth-of-type(1) {
	font-size: 1.5rem;
}

#wikichart tr.wrapper td {
	padding-top: 0.25em;
	vertical-align: bottom;
}

#wikichart tr.wrapper + iframe {
	width: 100%;
}


/* -----------------------------------------------
:: #wikichart five-columns
-------------------------------------------------- */
#wikichart tr.wrapper.five-columns *:nth-of-type(2),
#wikichart tr.wrapper.five-columns *:nth-of-type(3) {
	display: none;
}

#wikichart tr.wrapper.five-columns *:nth-of-type(4) {
	padding-right: 1em;
}

#wikichart tr.wrapper.five-columns *:nth-of-type(4),
#wikichart tr.wrapper.five-columns *:nth-of-type(5) {
	width: 40%;
	text-align: left;
}


/* -----------------------------------------------
:: #wikichart six-columns
-------------------------------------------------- */
#wikichart tr.wrapper.six-columns *:nth-of-type(2),
#wikichart tr.wrapper.six-columns *:nth-of-type(3),
#wikichart tr.wrapper.six-columns *:nth-of-type(4) {
	display: none;
}

#wikichart tr.wrapper.six-columns *:nth-of-type(5) {
	padding-right: 1em;
}

#wikichart tr.wrapper.six-columns *:nth-of-type(5),
#wikichart tr.wrapper.six-columns *:nth-of-type(6) {
	width: 40%;
	text-align: left;
}


/* -----------------------------------------------
:: #wikichart seven-columns
-------------------------------------------------- */
#wikichart tr.wrapper.seven-columns *:nth-of-type(2),
#wikichart tr.wrapper.seven-columns *:nth-of-type(3),
#wikichart tr.wrapper.seven-columns *:nth-of-type(4),
#wikichart tr.wrapper.seven-columns *:nth-of-type(5) {
	display: none;
}

#wikichart tr.wrapper.seven-columns *:nth-of-type(6) {
	padding-right: 1em;
}

#wikichart tr.wrapper.seven-columns *:nth-of-type(6),
#wikichart tr.wrapper.seven-columns *:nth-of-type(7) {
	width: 40%;
	text-align: left;
}


/* -----------------------------------------------
:: .iframe-wrapper / .load-wrapper / .no-song-wrapper
-------------------------------------------------- */
.iframe-wrapper td,
.load-wrapper td,
.no-song-wrapper td {
	padding-bottom: 5px;
	/* border-bottom: 1px solid #3042fa; */
}

.iframe-wrapper td {
	line-height: 0;
}

.iframe-wrapper iframe,
.load-wrapper td > div,
.no-song-wrapper td > div {
	height: 80px;
	width: 100%;
	max-width: 300px;
	box-shadow: 0px 5px 5px #aaa;	
}

.load-wrapper {
    bottom: 4px;
    left: 0;
    position: absolute;
    width: 100%;
}

.load-wrapper td {
	display: block;
	margin: 0 2px;
}

.load-wrapper td > div,
.no-song-wrapper td > div {
	display: table;
    min-width: 200px;
	/* border: 1px solid #282828; */
    background-color: #fff;
}

.load-wrapper .load-song,
.no-song-wrapper .no-song {
	display: table-cell;
	color: #3042fa;
	/* font-weight: 700; */
	text-align: center;
	vertical-align: middle;
}


/* -----------------------------------------------
:: Media specific
-------------------------------------------------- */
@media only screen and (min-width:25.875em) {
	/*
	min-width:414px -  iPhone6 Plus portrait - small-grid;
	*/
	.panel { margin: 1em; }
}
@media only screen and (min-width: 48em) {
	/*
	min-width:768px - iPad portrait - large-grid;
	*/
	#background ul.top { top: 5%; }
	#wikichart > table:first-of-type, .iframe-wrapper iframe, .load-wrapper td > div, .no-song-wrapper td > div { max-width: 400px; }
}
@media screen and (min-width:64em) {
	/*
	min-width:1024px - iPad landscape - xlarge-grid;
	*/
	#background ul.left, #background ul.right { top: 75%; }
	#background ul.left { left: 50%; }
	#background ul.right { right: 50%; }
	#background ul.top { top: 10%; }
	#background ul.bottom { top: auto; bottom: 50%; }
}
